.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

input,
textarea {
  width: calc(100% - 1.4em);
}

input,
textarea,
button {
  display: block;
  padding: 0.2em;
  margin: 0.5em;
  font-size: 1.4em;
  text-align: left;
}

pre {
  float: left;
}

img {
  width: 250px;
  float: left;
}
